/* Fonts */

@font-face {
  font-family: "Roboto";
  src: local ("Roboto"),
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local ("Roboto Medium"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local ("Roboto Bold"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {

  /* Background */
  --top: #EEEEEE;
  --main: #FFFFFF;

  /* Text */
  --basic-black: #000000;
  --basic-dark-grey: #283136;
  --basic-grey: #444444;
  --basic-light-grey: #666666;
  --basic-white: #FFFFFF;

  /* Buttons, Lines*/
  --basic-pink: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --grey: #EEEEEE;

  /* Elements */
  --filter-border: #4D4D4D;
  --cart: #A6A6A6;
  --social: #E1E1E1;
  --border: #D7DCDE;

  /* Special */
  --hover-pink: #E74246;
  --focus-pink: #D7373B;
  --hover-green: #00BC6C;
  --focus-green: #00AA62;
  --hover-yellow: #EAB534;
  --focus-yellow: #E5A722;
  --hover-grey: #DFDFDF;
  --focus-grey: #D5D5D5;
  --focus-logo: #A6A6A6;
  --hover-border: #B4B9BB;
  --border-button: #DBDBDB;
}

/* Global */

.page-body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--main);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main logo*/

.main-header-logo {
  justify-self: left;
  margin-top: 49px;
  margin-right: 202px;
}

.main-header-logo path {
  fill: var(--basic-black);
}

.main-header-logo:hover path {
  opacity: 0.7;
}

.main-header-logo:active path {
  opacity: 0.3;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  background-color: var(--top);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Main navigation */

.main-navigation {
  width: 1157px;
  margin: 0 auto;
  display: flex;
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  flex-grow: 1;
}

.site-navigation,
.cart-navigation {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 0;
}

.site-navigation a:not([href]) {
  background-color: var(--top);
}

.site-navigation a,
.cart-navigation a {
  display: block;
  margin-right: 10px;
  padding: 20px;
  color: var(--basic-black);
}

.site-navigation {
  margin: 0;
  flex-wrap: wrap;
}

.site-navigation a:hover,
.cart-navigation a:hover {
  color: var(--basic-pink);
}

.site-navigation a:active,
.cart-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart-navigation {
  margin-left: auto;
}

 .cart-link {
  display: flex;
  align-items: center;
}

 .cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  padding-left: 25px;
  background-repeat: no-repeat;
}

/* Container */

.container {
  max-width: 1157px;
  margin: 0 auto;
  padding: 0;
}

/* Principles */

.principles {
  display: grid;
  max-width: 1157px;
  background-color: var(--top);
  padding-bottom: 80px;
}

.principles-item {
  text-align: left;
}

.principles-slogan {
  margin-top: 78px;
  max-width: 538px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.principles-description {
  margin-top: 25px;
  max-width: 416px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-grey);
}

.gray-background {
  background-color: var(--top);
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  text-align: left;
  margin: 0 20px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-grey);
}

/* Buttons */

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

/* Principles, Services, Contacts, Modal, Filter, Catalog Buttons */

.button {
  background-color: var(--basic-pink);
}


.principles-button:hover,
.websites-button:hover,
.catalog-button:hover {
  background-color: var(--hover-pink);
}

.principles-button:focus,
.websites-button:focus,
.catalog-button:focus {
  background-color: var(--focus-pink);
}

.apps-button {
  background-color: var(--basic-green);
}

.apps-button:hover {
  background-color: var(--hover-green);
}

.apps-button:focus {
  background-color: var(--focus-green);
}

.presentations-button {
  background-color: var(--basic-yellow);
}

.presentations-button:hover {
  background-color: var(--hover-yellow);
}

.presentations-button:focus {
  background-color: var(--focus-yellow);
}

.filter-button {
  background-color: var(--grey);
  color: var(--basic-black);
}

.filter-button:hover {
  background-color: var(--hover-grey);
}

.filter-button:active {
  background-color: var(--focus-grey);
}

/* Hidden elements */

.cut-down {
  display: none;
}

/* Index columns */

.index-columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 73px;
}

/* About */

.about {
  text-align:left;
}

.about-main {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-description,
.about-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

.about-orders {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}

.about-list {
  list-style: none;
}

.about-list li:before {
  content:  "—";
  position: relative;
  left: -5px;
  color: var(--basic-pink);
  width: 2px;
}

.about-item {
  text-align: left;
}

/* Features */

.features {
  text-align: center;
  vertical-align: bottom;
}

.features-intro {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-list dl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.features-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  grid-row: 1 / 2;
  margin: 0;
}

.features-item span {
  font-size: 26px;
  line-height: 40px;
  position:absolute;
  top:5x;
}

.features-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  text-align: left;
}

/* Partners */

.partners {
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
  justify-self:center;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.partners-item {
  opacity: 0.2;
}

.partners-item:hover {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

/* Main footer */

.main-footer {
  outline-offset: -5px;
  display: grid;
  grid-template-rows: auto;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Contacts */

.contacts-map {
  grid-row: 1/2;
  grid-column: 1/2;
}

.contacts {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 140px;
  padding: 50px;
  width: 308px;
  height: 319px;
  background-color: var(--basic-white);
  text-align: center;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-address,
.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-light-grey);
}

.network {
  display: flex;
  padding-bottom: 68px;
  padding-top: 68px;
  width: 1157px;
}

/* Social */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--social);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 9px;
  border: none;
}

.social-button:hover {
  background-color: var(--hover-pink);
}

.social-button:focus {
  background-color: var(--focus-pink);
}

.social-button:focus svg {
  opacity: 0.3;
}

/* Discount */

.discount {
  text-align: left;
}

.discount-main {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.discount-social {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-grey);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--main);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

/* Feedback Form */

.feedback-form input[type="email"],
.feedback-form input[type="text"] {
  font: inherit;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 2px solid var(--border);
  border-radius: 3px;
}

.feedback-form input:hover {
  border-color: var(--hover-border);
}

.feedback-form input:active {
  border-color: var(--basic-black);
}

.feedback-form input:invalid {
  border-color: var(--hover-pink);
}


/* Catalog */

.catalog-title {
  background-color: var(--top);
  padding-bottom: 106px;
  padding-top: 70px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}
.page-catalog {
  display: grid;
  grid-template: "filter sort"
                  "filter catalog";
  grid-template-columns: 260px 1fr;
  max-width: 1157px;
}

/* Filters */

.filters {
  grid-area: filter;
  margin-top: 55px;
  width: 260px;
}

.filter legend,
.sorting-main {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  line-height: 30px;
  margin-bottom: 15px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter label,
.filter-range,
.filter-range input {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-dark-grey);
}

.filter label:disabled {
  opacity: 0.3;
}

.filter-input-checkbox:hover,
.filter-input-radio:hover {
  color: var(--filter-border);
}

.filter-input-checkbox,
.filter-input-radio {
  opacity: 0.4;
}

.filter-input-checkbox:disabled,
.filter-input-radio:disabled {
  opacity: 0.1;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  border: none;
}

/* Sorting */

.sorting-all {
  grid-area: sort;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-left: 140px;
}

.sorting-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.sorting-element {
margin-right: 26px;
}

.sorting-element a,
.sorting-price a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-element a:hover,
.sorting-price a:hover {
  opacity: 0.6;
}

.sorting-element a:active,
.sorting-price a:active {
  opacity: 1;
}

.sorting-price {
  display: flex;
  margin-left: auto;
}

/* Catalog */

.catalog {
  margin-left: 140px;
  grid-area: catalog;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-bottom: 31px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.catalog-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

.catalog-name:hover {
  color: var(--basic-pink);
}

.catalog-name:active {
  opacity: 0.3;
}

.catalog-description {
  width: 255px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-light-grey);
  text-align: center;
}

/* Pagination */

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
  margin-bottom: 60px;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--grey);
}

.pagination-item a:hover {
  background-color: var(--hover-grey);
}

.pagination-item a:active {
  background-color: var(--focus-grey);
}

.pagination-item-current a {
  background-color: var(--basic-white);
  border: 3px solid var(--border-button);
  border-radius: 3px;
}
